:root {
  --dark-grey: #231f20;
  --blue: #01ffff;
  --pink: rgb(255, 0, 254);
  --white: #f1ffe9;
}

* {
  box-sizing: border-box;
  color: var(--dark-grey);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.2em;
}

body {
  background-color: var(--dark-grey);
}

.site-title {
  background-color: var(--pink);
  border: 0.15em dashed var(--blue);
  border-radius: 0.2em;
  color: var(--dark-grey);
  display: block;
  text-align: center;
  font-size: 4em;
}

#site-description {
  background-color: var(--dark-grey);
  border: 0.25em dashed var(--pink);
  border-radius: 0.25em;
  margin-bottom: 2em;
}

.description-intro {
  color: var(--white);
  font-size: 1.75em;
  text-align: center;
}

#site-description-text {
  display: none;
  margin-top: -2em;
}

#site-description-text p {
  color: var(--white);
  padding: 0.8em;
}

#band-name {
  color: var(--blue);
  font-weight: bold;
  font-size: 1.1em;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: var(--pink);
}

#myInput {
  background-color: var(--dark-grey);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  border-radius: 0.2em;
  color: var(--white);
  width: 100%;
  font-size: 1.25em;
  padding: 12px 20px 12px 40px;
  border: 0.25em dashed var(--blue);
  margin-bottom: 12px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--pink);
  opacity: 1; /* Firefox */
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 0.25em dashed var(--pink);
  border-radius: 0.2em;
  margin-top: -1px; /* Prevent double borders */
  background-color: var(--blue);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: var(--dark-grey);
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: var(--blue);
}

.title {
  font-size: 1.5em;
  text-align: center;
}

.lyrics {
  display: none;
}
